openapi: 3.1.0
info:
  title: MealMe Food Ordering API
  version: "4.1.0"
  description: |
    MealMe provides a food ordering API for menus, inventory, and order
    placement at over one million restaurants and grocery stores in the US
    and Canada. The API covers store and product search, cart and order
    management, payment methods, customer support chat, tracking webhooks,
    and geocoding. The current reference is version 4.1.0.
  contact:
    name: MealMe API Reference
    url: https://docs.mealme.ai/reference
servers:
  - url: https://api.mealme.ai/v2
    description: MealMe production API
security:
  - apiKeyHeader: []
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: API key issued by MealMe, passed in the Authorization header.
  schemas:
    Cart:
      type: object
      properties:
        cart_id: { type: string }
        store_id: { type: string }
        items:
          type: array
          items: { $ref: "#/components/schemas/CartItem" }
    CartItem:
      type: object
      properties:
        product_id: { type: string }
        name: { type: string }
        quantity: { type: integer }
        price: { type: number }
        customizations:
          type: array
          items: { type: object }
    Order:
      type: object
      properties:
        order_id: { type: string }
        cart_id: { type: string }
        status: { type: string }
        total: { type: number }
    Store:
      type: object
      properties:
        store_id: { type: string }
        name: { type: string }
        address: { type: string }
        latitude: { type: number }
        longitude: { type: number }
    Product:
      type: object
      properties:
        product_id: { type: string }
        name: { type: string }
        price: { type: number }
        available: { type: boolean }
    PaymentMethod:
      type: object
      properties:
        payment_method_id: { type: string }
        type: { type: string }
        last4: { type: string }
paths:
  /carts:
    post:
      tags: [Carts]
      summary: Create a cart
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Cart" }
      responses:
        "200":
          description: Cart created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Cart" }
    get:
      tags: [Carts]
      summary: List carts
      responses:
        "200":
          description: Carts
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Cart" }
  /carts/{id}:
    get:
      tags: [Carts]
      summary: Retrieve a cart
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Cart
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Cart" }
  /carts/{id}/items:
    post:
      tags: [Carts]
      summary: Add an item to a cart
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CartItem" }
      responses:
        "200":
          description: Cart updated
  /carts/{id}/items/remove:
    post:
      tags: [Carts]
      summary: Remove an item from a cart
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id: { type: string }
      responses:
        "200":
          description: Item removed
  /connect-accounts:
    post:
      tags: [Connect Accounts]
      summary: Create a connect account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                store_id: { type: string }
                credentials: { type: object }
      responses:
        "200":
          description: Connect account created
  /connect-accounts/{id}:
    get:
      tags: [Connect Accounts]
      summary: Get a connect account
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Connect account
  /connect-accounts/{id}/link:
    post:
      tags: [Connect Accounts]
      summary: Link a connect account
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Linked
  /connect-accounts/{id}/challenge:
    post:
      tags: [Connect Accounts]
      summary: Solve a connect account challenge
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Challenge solved
  /connect-accounts/{id}/payment-methods:
    get:
      tags: [Connect Accounts]
      summary: Get connect account payment methods
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Payment methods
  /connect-accounts/{id}/carts:
    post:
      tags: [Connect Accounts]
      summary: Add a connect account cart item
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Item added
    delete:
      tags: [Connect Accounts]
      summary: Delete a connect account cart
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Deleted
  /connect-accounts/{id}/orders:
    post:
      tags: [Connect Accounts]
      summary: Place a connect account order
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Order placed
  /orders:
    post:
      tags: [Orders]
      summary: Create an order
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Order" }
      responses:
        "200":
          description: Order created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Order" }
    get:
      tags: [Orders]
      summary: List orders
      responses:
        "200":
          description: Orders
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Order" }
  /orders/{id}/finalize:
    post:
      tags: [Orders]
      summary: Finalize an order
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Order finalized
  /orders/v4:
    post:
      tags: [Orders]
      summary: Create an order (v4)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Order" }
      responses:
        "200":
          description: Order created
  /search/stores:
    get:
      tags: [Search]
      summary: Search for a store
      parameters:
        - in: query
          name: query
          schema: { type: string }
        - in: query
          name: latitude
          schema: { type: number }
        - in: query
          name: longitude
          schema: { type: number }
      responses:
        "200":
          description: Stores
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Store" }
  /search/products:
    get:
      tags: [Search]
      summary: Search for a product
      parameters:
        - in: query
          name: query
          schema: { type: string }
      responses:
        "200":
          description: Products
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Product" }
  /search/carts:
    get:
      tags: [Search]
      summary: Search for a cart
      responses:
        "200":
          description: Carts
  /search/places:
    get:
      tags: [Search]
      summary: Search for a place
      parameters:
        - in: query
          name: query
          schema: { type: string }
      responses:
        "200":
          description: Places
  /stores/{id}:
    get:
      tags: [Stores]
      summary: Get a MealMe store
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Store
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Store" }
  /stores/add:
    post:
      tags: [Stores]
      summary: Add a Google Place to MealMe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                place_id: { type: string }
      responses:
        "200":
          description: Store added
  /inventory:
    get:
      tags: [Inventory]
      summary: Get inventory
      parameters:
        - in: query
          name: store_id
          schema: { type: string }
      responses:
        "200":
          description: Inventory
  /products/{id}:
    get:
      tags: [Products]
      summary: Get product details
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Product
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Product" }
  /payment-methods:
    post:
      tags: [Payments]
      summary: Create a payment method
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PaymentMethod" }
      responses:
        "200":
          description: Payment method created
    get:
      tags: [Payments]
      summary: List payment methods
      responses:
        "200":
          description: Payment methods
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/PaymentMethod" }
  /payment-methods/{id}/delete:
    post:
      tags: [Payments]
      summary: Delete a payment method
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Deleted
  /payment-intent:
    post:
      tags: [Payments]
      summary: Get a payment intent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cart_id: { type: string }
                amount: { type: number }
                currency: { type: string }
      responses:
        "200":
          description: Payment intent
  /chat/initiate:
    post:
      tags: [Support Chat]
      summary: Initiate customer support chat
      responses:
        "200":
          description: Chat initiated
  /chat/{id}/exit:
    post:
      tags: [Support Chat]
      summary: Exit a customer support chat
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Exited
  /chat/{id}/messages:
    post:
      tags: [Support Chat]
      summary: Send a customer support chat message
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message: { type: string }
      responses:
        "200":
          description: Message sent
  /chat/{id}/messages/read:
    post:
      tags: [Support Chat]
      summary: Mark chat messages as read
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Marked read
  /chat/fetch-ids:
    post:
      tags: [Support Chat]
      summary: Fetch customer support chat IDs
      responses:
        "200":
          description: Chat IDs
  /tracking/webhooks:
    post:
      tags: [Tracking]
      summary: Add a tracking webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url: { type: string, format: uri }
                event: { type: string }
      responses:
        "200":
          description: Webhook added
  /geocode:
    post:
      tags: [Geocoding]
      summary: Geocode an address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address: { type: string }
      responses:
        "200":
          description: Geocode result
  /reverse-geocode:
    post:
      tags: [Geocoding]
      summary: Reverse geocode coordinates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                latitude: { type: number }
                longitude: { type: number }
      responses:
        "200":
          description: Reverse geocode result
