openapi: 3.2.0
info:
  title: MealMe Food Ordering Tracking API
  version: 4.1.0
  description: 'MealMe provides a food and grocery ordering API for menus, inventory, and

    order placement at over one million restaurants and grocery stores in the

    United States and Canada.'
  contact:
    name: MealMe API Reference
    url: https://docs.mealme.ai/reference
servers:
- url: https://api.mealme.ai
  description: MealMe production API
security:
- apiKeyHeader: []
tags:
- name: Tracking
  description: Order tracking webhooks.
paths:
  /account/tracking/add_webhook:
    post:
      tags:
      - Tracking
      operationId: addTrackingWebhook
      summary: Add a Tracking Webhook
      description: Register a webhook to receive order tracking updates.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - url
              properties:
                url:
                  type: string
                  format: uri
                event:
                  type: string
            examples:
              AddTrackingWebhookRequestExample:
                summary: Default addTrackingWebhook request
                x-microcks-default: true
                value:
                  url: https://example.com/webhook
                  event: order_status_update
      responses:
        '200':
          description: Webhook added.
        '401':
          description: Missing Authorization
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: API key issued by MealMe, passed in the Authorization header.
